//文章
.sm-article{
  padding: 10px 15px;
  h3{
    font-size: 16px;
    color: #000;
    line-height: 1.8;
  }
  p{
    margin-bottom: .5em;
    font-size: 14px;
    color: #333;
  }
  @at-root.bgc{
    background-color: $white;
  }
}

