//checkbox,radio
.sm-check-common{
  display: inline-block;
	vertical-align: middle;
	-webkit-appearance:none;
  margin: 0 5px -3px;
  &:checked{
    &:before{
      color: $checked-color;
    }
  }
  &:before{
    font-family: 'smui';
    font-size: $check-font-size;
    color: $check-default-color;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }
}
/*checkbox*/
.sm-checkbox{
  @extend .sm-check-common; 
  &:checked{
    &:before{
      content: "\EA06";
    }
  }
  &:before{
    content: "\EA01";
  }
}

/*radio*/
.sm-radio{
  @extend .sm-check-common; 
  &:checked{
    &:before{
      content: "\EA08";
    }
  }
  &:before{
    content: "";
  }
}




