//badge
.sm-grids{
  display: -webkit-box; 
	display: -webkit-flex;
	display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  > .sm-grid{
    flex: 0 0 percentage(1/$grid-columns);
    padding: 10px 10px;
    font-size: 12px;
    color: #666;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center; 
    -webkit-box-align: center;
    justify-content: center;
    flex-direction:column; /*纵向*/
    &:active{
      background-color: #eee;
    }
    &.third{
      flex: 0 0 percentage(1/3) !important;
    }
    &.four{
      flex: 0 0 percentage(1/4) !important;
    }
    &.five{
      flex: 0 0 percentage(1/5) !important;
    }
    > i{
        display: block;
        font-family:"iconfont" !important;
        font-size:32px;
        font-style:normal;
        -webkit-font-smoothing: antialiased;
        line-height: 32px;
        color: $brand-primary;
        -webkit-background-clip: text;/* 字体渐变 */
        -webkit-text-fill-color: transparent;
    }
  }
  &.border-less{
     border-top: 1px solid  #ececec;
     border-left: 1px solid  #ececec;
     padding: 0;
     > .sm-grid{
       padding: 12px 10px;
       border-right: 1px solid  #ececec;
       border-bottom: 1px solid  #ececec;
     }
  }
  &.bg{
     background-color: $brand-primary;
     > .sm-grid{
         color: #fff;
         &:active{
           color:rgba(255,255,255,.7);
           background-color: transparent;
           > i{
             background-image: -webkit-linear-gradient(90deg, rgba(255,255,255,.7) , rgba(255,255,255,.7)) !important; 
           }
         }
         > i{
           background-image: -webkit-linear-gradient(90deg, #fff , #fff) !important; 
         }
     }
  }
}

