/**
 * Header 20170807
 * --------------------------------------------------
 */

.sm-header{
  height: 44px;
  line-height: 44px;
  text-align: center;
  font-size: 16px;
  color: #000;
  border-bottom: 1px solid  #ddd;
  background-color: #fff;
}


