/**
 * Header
 * --------------------------------------------------
 */


// funciton 根据背景颜色的亮度来设置字体颜色，用lightness()内部函数，亮度值0-100
@function set-text-color($color) {
  @if (lightness($color) > 88) { 
    @return #000; 
  } @else { 
    @return #fff;
  } 
}
// funciton 根据背景颜色的亮度来设置边框的颜色
@function set-border($color) {
  @if (lightness($color) > 88) { 
    @return $gray-lighter; 
  } @else { 
    @return transparent;
  } 
}

.sm-header{
  height: 44px;
  line-height: 44px;
  text-align: center;
  font-size: 16px;
  color: set-text-color($header-bg);
  border-bottom: 1px solid set-border($header-bg);
  background-color: $header-bg;
}
