//message
.sm-message {
	padding-top: 36px;
  text-align: center;
  i{
    font-size: 93px;
    line-height: 93px;
  }
  h3{
    display: block;
    font-size: 20px;
    padding: 15px 0 5px;
  }
  p{
    display: block;
    color: #999;
  }
  .btn-wrap{
    padding-top: 20px;
  }
}