//navbar
.sm-navbar{
  ul{
    display: -webkit-box; 
    display: -webkit-flex;
    display: flex;
  }
  li{
    position: relative;
    -webkit-box-flex:1;
    -webkit-flex:1;
    flex:1;
    width:0%;
    height:50px;
    line-height: 50px;
    text-align:center;
    background-color: #fff;
    border-bottom: 1px solid  $gray-lighter;
    &.active{
      color: $brand-primary;	
      border-bottom: 2px solid  $brand-primary;
    }
  }
}