//badge
.sm-space{
  font-size: 1px;
  height: 15px;
  clear: both;
  overflow: hidden;
  @at-root &.sm{
    height: 10px;
  }
  @at-root &.md{
    height: 20px;
  }
  @at-root &.lg{
    height: 30px;
  }
}

