//swiper
.sm-swiper {
  background-color: #eee;
  .swiper-pagination-bullet {
    background: #fff !important;
    opacity: .5;
  }
  .swiper-pagination-bullet-active {
    opacity: 1;
  }
  .swiper-pagination{
    bottom: 2px !important;
  }
  .swiper-slide{
    span{
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      line-height: 25px;
      color: #fff;
      padding:0 10px;
      font-size: 12px;
      background-color: rgba(0,0,0,0.55);
    }
    img{
      background-size: cover
    }
  }
  @at-root.bullet-right .swiper-pagination{
    right: 10px !important;
    width: auto !important;
    left: auto !important;
  }
  @at-root.bullet-left .swiper-pagination{
    left: 10px !important;
    width: auto !important;
  }
  @at-root.bullet-right .swiper-slide{
    span{
      text-align: left;
    }
  }
  @at-root.bullet-left .swiper-slide{
    span{
      text-align: right;
    }
  }
}