/**
 * Tabbar 20170808
 * --------------------------------------------------
 */

// funciton 根据背景颜色的亮度来设置字体颜色，用lightness()内部函数，亮度值0-100
@function set-text-color($color) {
  @if (lightness($color) > 88) { 
    @return #808080; 
  } @else { 
    @return #fff;
  } 
}
// funciton 根据背景颜色的亮度来设置边框的颜色
@function set-border($color) {
  $val:lightness($color);
  @if ($val > 88) and ($val < 95) { 
    @return darken($color,3%) 
  } @else if ($val < 88) { 
    @return transparent;
  }  @else{ 
    @return $gray-lighter
  } 
}
.sm-tabbar{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	display: -webkit-box; 
	display: -webkit-flex;
	display: flex;
	height: 44px;
	background-color: $tabbar-bg;
	border-top: 1px solid set-border($tabbar-bg);
}
.sm-tabbar a{
	-webkit-box-flex:1;
	-webkit-flex:1;
  flex:1;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	flex-direction:column;  
	-webkit-align-items: center; 
	-webkit-box-align: center;
	justify-content: center; 
	color: set-text-color($tabbar-bg);
}
.sm-tabbar span{
	font-size: 12px;
}
.sm-tabbar a.active{
	color: #6795f5;
}
.sm-tabbar a i{
  font-family:"iconfont" !important;
  font-size:22px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  margin-bottom: -12px;
}
.sm-tabbar a i:nth-child(2){
  display: none;
}
.sm-tabbar a.active i:nth-child(1){
  display: none;
}
.sm-tabbar a.active i:nth-child(2){
  display: block;
}

